body,html{
    width: 100%;
    height: 100%;
}
.slide-circle {
    position:relative;
    top:0;
    left:0;
    overflow:hidden;
    z-index:5;
}
.slide-block-circle {

}
.slide-block {
    position:relative;
    overflow:hidden;
}
.dot-list{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.dot{
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 30px;
    opacity: .7;
    background: #fff;
}
.dot:nth-last-of-type(1){
    margin-right: 0;
}
.active{
    opacity: 1;
}